* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

header {
   background-color: gray;
   overflow: hidden;
   text-align: center;
}

header input {
   float: left;
   display: inline-block;
}

#logo {
   display: inline-block;
   text-align: center;
   margin: auto;
}

#github {
   float: right;
   display: inline-block;
}

#github img {
   width: 25px;
   height: 25px;
}
