@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --black: #141414;
   --gray: #ededed;
   --dark-gray: #848484;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Roboto", Times, sans-serif;
}

html, body {
   height: 100%;
}

main {
   margin: 10px;
}

h1, a {
   color: var(--black);
}

h1 {
   font-family: "Inter", Arial, sans-serif;
}

header {
   height: 6vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--black);
}

header form {
   margin-left: 10px;
   flex: 1;
}

::placeholder {
   color: var(--dark-gray);
   opacity: 1;
}

header form input[type=text] {
   background-image: url("/img/magnifier.png");
   background-repeat: no-repeat;
   background-position: 4px 3px;
   border: none;
   padding: 2px;
   box-sizing: border-box;
   padding-left: 24px;
}

header form input[type=text]:focus {
   outline: none;
}

#logo {
   font-size: 25px;
   text-align: center;
   flex: 1;
}

#logo a {
   color: white;
   text-decoration: none;
   font-family: "Inter", Arial, sans-serif;
}

#github {
   flex: 1;
   text-align: end;
   margin: 10px;
   margin-top: 13px;
}

#github img {
   width: 25px;
   height: 25px;
}

@media (max-width: 600px) {
   header form input[type=text] {
      padding: 8px 0px;
      padding-left: 24px;
      background-position: 4px 9px;
   }

   #github {
      width: max-content;
      flex: 0;
      order: 0;
   }

   #logo {
      padding: 0 10px;
      order: -1;
   }
}
