<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>{{title}}</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
   </head>
   <body>
      <header>
         <input type="text" placeholder="Search...">
         <h1 id="logo"><a href="/">music.png</a></h1>
         <a id="github" href="https://www.github.com/xspt"><img src="img/github-logo.png"></a>
      </header>
      <main>
         {{{body}}}
      </main>
   </body>
</html>
